.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// homepage


// hero image slider
.image-slider {
	width: 70%;
	margin: 0 auto;
}

.image-slider img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

// products by categories
.products-by-categories {
	margin-top: 50px;


	.category-products {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.single-product {
		width: 22%;
		margin-bottom: 20px;

		img {
			width: 100%;
			height: auto;
			object-fit: fill;
		}

	}
}


// on sale products
.on-sale-products {
	margin-top: 50px;


	.on-sale-slider {
		.single-sale-product {
			padding: 10px;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}	
		}
	}
}

.single-sale-product {
	padding: 10px;

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}


	.price {
		display: block;
		margin: 10px 0;
		font-size: 1.2em;
		color: #333;
	}

	.button {
		display: inline-block;
		padding: 10px 20px;
		background-color: #000;
		color: #fff;
		text-align: center;
		text-decoration: none;
		margin-top: 10px;

		&:hover {
			background-color: #444;
		}
	}
}

// testimonials 

.testimonials-container {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;

	figure {
		width: 25%;
		border: 1px solid #000;
		margin: 1rem;

		blockquote {
			padding: 1rem 0;
		}
	}
}


// workshops this month section
.workshops-this-month {
	margin-top: 50px;


	.workshop-list {
		display: flex;
		flex-direction: column;
	}

	.single-workshop {
		width: 80%;
		margin-bottom: 20px;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		text-align: left;
		background-color: #f9f9f9;

		
		.workshop-date {
			display: block;
			margin-bottom: 10px;
			font-size: 1.2em;
			color: #666;
		}

		.workshop-excerpt {
			font-size: 1em;
			color: #333;
		}
	}
}



// about page
.company-about {
	margin: 20px 0;

	.company-description {
		font-size: 1.2em;
		line-height: 1.6;
	}
}

.company-images {
	margin: 20px 0;

	.gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		.gallery-item {
			flex: 1 1 calc(33.333% - 10px);

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}