.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		position: relative;

	}

	a {
		display: block;
		text-decoration: none;
	}

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

//only for center items in the menu
.site .site-header .header-container .main-navigation #menu-center-items{
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	@media (min-width:35rem) {
		flex-direction: row;
	}
}
// navbar
.site-header {
	background-color: #296D38;
	padding: 1rem;

	.header-container {
		display: flex;
		align-items: center;
		justify-content: space-around;


		.site-branding {
			display: flex;
			align-items: center;
		}

		.main-navigation {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			// max-width: 7rem;
			@media (min-width:56rem) {
				flex-direction: row;
			}

			.menu-left,
			// .menu-center,
			.menu-right {
				display: flex;
				// flex-wrap: wrap;
				align-items: center;
			}

			.menu-left {
				flex: 1;
				justify-content: flex-start;

				img {
					height: 50px;
					width: auto;
				}
			}

			.search-field{
				max-width: 7rem;
				@media (min-width:35rem) {
					max-width: unset;
				}
			}

			.search-submit{
				display: none;
				@media (min-width:35rem) {
					display: inline;
				}
			}
			.search-form{
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;
			}


			.menu-right {
				flex: 1;
				justify-content: flex-end;

				button,
				input {
					background-color: #fff;
					color: #296D38;
				}
			}


			ul {
				display: flex;
				flex-direction: row;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0;
				}

				a {
					color: #fff;
					text-decoration: none;
					padding: 0.5rem 1rem;

					&:hover {
						background-color: #fff;
						color: #296D38;
						border-radius: 4px;
					}
				}
			}

			
			// .menu-center {
			// 	flex: 2;
			// 	justify-content: center;

			// 	#menu-item-402 {
			// 		justify-content: left;
			// 		gap: 1rem;

			// 		ul {
			// 			display: flex;
			// 			flex-direction: column;
			// 			background-color: #296D38;
			// 		}
			// 	}
			// }
		}
	}
}



// footer
// .site-footer {
// 	.footer-menus {
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: space-around;
// 		align-items: center;
// 		background-color: #296D38;
// 		color: #fff;

// 		a,
// 		a:visited {
// 			color: #fff;
// 		}

// 		a:hover {
// 			background-color: #fff;
// 			color: #296D38;
// 		}

// 		li {
// 			list-style: none;
// 		}

// 		.footer-left,
// 		.footer-center,
// 		.footer-right {
// 			border: 2px solid #296D38;
// 			padding: 2rem 0;
// 		}

// 		.footer-left {
// 			img {
// 				height: 100px;
// 				width: auto;
// 			}
// 		}

// 		.footer-center {
// 			display: flex;
// 			flex-direction: row;
// 			gap: 4rem;

// 			ul {
// 				margin: 0 auto;
// 				padding: 0;
// 			}
// 		}

// 		.footer-right {
// 			text-align: center;

// 			ul {
// 				display: flex;
// 				flex-direction: row;
// 				justify-content: center;
// 				margin: 0 auto;
// 				padding: 0;
// 				gap: 1rem;
// 				font-size: 2rem;

// 			}
// 		}
// 	}
// }

.site-footer {
	.footer-menus {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: #296D38;
		color: #fff;
	}

	a,
	a:visited {
		color: #fff;
	}

	li {
		list-style: none;
	}

	.footer-left,
	.footer-center,
	.footer-right {
		border: 2px solid #296D38;
		padding: 2rem 0;
	}

		.footer-left {
			img {
				height: 100px;
				width: auto;
			}
		}

		.footer-center,
		.footer-center-2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			// gap: 4rem;

			ul {
				margin: 0 auto;
				padding: 0;
			}
			li, h3 {
				text-align: center;
			}
		}

		.footer-right {
			text-align: center;

			ul {
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin: 0 auto;
				padding: 0;
				gap: 1rem;
				font-size: 2rem;

			}
		}
		@media (min-width: 48rem) {
			.footer-menus {
				flex-direction: row;
				justify-content: space-around;
			}
			.footer-center {
				display: flex;
				flex-direction: row;
				gap: 4rem;
			}
			a:hover {
				background-color: #fff;
				color: #296D38;
		}
		}
}