body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.

    .site {
        max-width: 120rem;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .site-main {
        padding: 1.25rem;
    }


    @media (min-width: 48rem) { 
        .site-main {
            flex-grow: 1;
        }
    }

    @media (min-width: 62rem) { 
        .site-main {
            padding: 4rem;
    }

} 

section {
    margin-bottom: 3.125rem;
}

.visit, .hours {
    margin-bottom: 0;
}