body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.

        .site {
        max-width: 120rem;
        display: flex;
        flex-direction: column;
    }

    .site-main {
        padding: 1.25rem;
    }

} 